                            <section class="archive-unit">

            
                                <div class="archive-unit-inn">
                                    <a href="" class="archive-unit-img-a" title="Masonry Fullwidth">
                                    <img alt="Masonry Fullwidth" src="/img/3925139308_96215e9363_b-standard-thumb-800x531.jpg" class="archive-unit-img middle-ux">
                                    </a>
                    
                                    <div class="archive-unit-inn-info">
                                        <div class="archive-date">
                                            <p class="archive-date-big">23</p>
                                            <p class="archive-date-m">
                                             Jul                                2014                            </p>
                                        </div>
                                        <div class="archive-unit-inn-info-main">
                                            <h2 class="archive-unit-h2"><a title="Masonry Fullwidth" href="">Masonry Fullwidth</a></h2>

                                            <div class="archive-unit-meta">
                                                <span class="archive-meta-item">In <a href="" rel="category tag">Fullwidth</a>  <a href="" rel="category tag">MASONRY</a>  <a href="" rel="category tag">PORTFOLIO</a>
                                                </span>
                                                <span class="archive-meta-item">By  <span class="author-name">Bwsm</span>
                                                </span>
                                            </div><!--End archive-unit-meta-->
                            
                                            <div class="archive-unit-excerpt">
                                                <p>16 апр. 2013 г. - В Sass и LESS вам нужно самому следить за актуальностью ...... если использовать его именно для таких целей — добавлять префикс</p>
                                            </div><!--End archive-unit-excerpt-->
                            
                                        </div><!--End archive-unit-inn-info-main-->
                                    </div><!--End archive-unit-inn-info-->
                                </div><!--End archive-unit-inn-->

                    
                            </section>