                    <ul class="gallery-info-property">
                      <li class="gallery-info-property-li">
                        <div class="gallery-info-property-item gallery-info-property-tit date">дата</div>
                        <div class="gallery-info-property-item gallery-info-property-con">{{ page.date | date: "%d %m %Y" }}</div>
                      </li>
                      <li class="gallery-info-property-li">
                        <div class="gallery-info-property-item gallery-info-property-tit author">автор</div>
                        <div class="gallery-info-property-item gallery-info-property-con">{{ site.author.name }}</div>
                      </li>
                    </ul>