<nav class="post-navi row-fluid">
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="post-navi-a post-navi-a-pre span6"><div class="post-navi-a-inn"><span class="post-navi-front"><i class="fa fa-long-arrow-left"></i> БЛИЗКО</span><span class="post-navi-back">{{ page.previous.title }}</span></div></a>
            <a href="{{ BASE_PATH }}{{ page.next.url }}" class="post-navi-a post-navi-a-next span6"><div class="post-navi-a-inn"><span class="post-navi-front">ДАЛЕКО <i class="fa fa-long-arrow-right"></i></span><span class="post-navi-back">{{ page.next.title }}</span></div></a>
        
</nav>


 

