                        <section class="related-post-wrap clearfix">
                          <h2 class="related-post-wrap-tit">Related Posts</h2>
                          <section class="related-post-unit">
                            <div class="single-image mouse-over">
                              <a class="related-post-unit-a" href="http://ximudesign.com/project/html/theone/content-portfolio-vertical-rightbar.html" title="Vertical On Left">
                                <div class="single-image-mask"></div>
                                <h3 class="related-post-unit-h3 middle-ux">Vertical On Left</h3>
                                <img src="img/4045035112_729c72c459_b-image-thumb-800x480.jpg" class="gallery-images-img wp-post-image" alt="Vertical On Left" height="480" width="800">
                              </a>
                            </div>
                          </section>
                          <!--End relatedpost-unit-->
                          <section class="related-post-unit">
                            <div class="single-image mouse-over">
                              <a class="related-post-unit-a" href="http://ximudesign.com/project/html/theone/content-portfolio-slider-leftbar.html" title="Slider On Right">
                                <div class="single-image-mask"></div>
                                <h3 class="related-post-unit-h3 middle-ux">Slider On Right</h3>
                                <img src="img/4112978281_f943d80224_b-image-thumb-800x480.jpg" class="gallery-images-img wp-post-image" alt="Slider On Right" height="480" width="800">
                              </a>
                            </div>
                          </section>
                          <!--End relatedpost-unit-->
                          <section class="related-post-unit">
                            <div class="single-image mouse-over">
                              <a class="related-post-unit-a" href="http://ximudesign.com/project/html/theone/content-portfolio-vertical-rightbar.html" title="Vertical On Left">
                                <div class="single-image-mask"></div>
                                <h3 class="related-post-unit-h3 middle-ux">Vertical On Left</h3>
                                <img src="img/3943028810_8d7af9b787_b-image-thumb-800x480.jpg" class="gallery-images-img wp-post-image" alt="Vertical On Left" height="480" width="800">
                              </a>
                            </div>
                          </section>
                          <!--End relatedpost-unit-->
                          <section class="related-post-unit">
                            <div class="single-image mouse-over">
                              <a class="related-post-unit-a" href="http://ximudesign.com/project/html/theone/content-portfolio-vertical-fullwidth.html" title="Vertical Fullwidth">
                                <div class="single-image-mask"></div>
                                <h3 class="related-post-unit-h3 middle-ux">Vertical Fullwidth</h3>
                                <img src="img/5554011376_41ba70b747_b-image-thumb-800x480.jpg" class="gallery-images-img wp-post-image" alt="Vertical Fullwidth" height="480" width="800">
                              </a>
                            </div>
                          </section>
                          <!--End relatedpost-unit-->
                        </section>