                    <div class="gallery-info-wrap container span4 pull-right">
                      <ul class="gallery-info-property">
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit">IMAGE COPYRIGHT</div>
                          <div class="gallery-info-property-item gallery-info-property-con"><a href="https://www.flickr.com/photos/martinteschner/">Martin Teschner</a></div>
                        </li>
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit">CUSTOMISABLE </div>
                          <div class="gallery-info-property-item gallery-info-property-con">Here you can add unlimited customisable property labels for the post</div>
                        </li>
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit date">DATE</div>
                          <div class="gallery-info-property-item gallery-info-property-con">June 5 2014</div>
                        </li>
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit category">CATEGORY</div>
                          <div class="gallery-info-property-item gallery-info-property-con"><a href="http://ximudesign.com/theone3/category/portfolio/masonry/" title="View all posts in MASONRY" rel="category tag">MASONRY</a> <a href="http://ximudesign.com/theone3/category/portfolio/" title="View all posts in PORTFOLIO" rel="category tag">PORTFOLIO</a></div>
                        </li>
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit author">AUTHOR</div>
                          <div class="gallery-info-property-item gallery-info-property-con">Bwsm</div>
                        </li>
                        <li class="gallery-info-property-li">
                          <div class="gallery-info-property-item gallery-info-property-tit author">TAGS</div>
                          <div class="gallery-info-property-item gallery-info-property-con"><a href="http://ximudesign.com/theone3/tag/masonry/" rel="tag">MASONRY</a> <a href="http://ximudesign.com/theone3/tag/photography/" rel="tag">PHOTOGRAPHY</a></div>
                        </li>
                      </ul>
                      <div class="entry">
                        <p>Scelerisque et pulvinar eros tempor, mattis arcu auctor, hac porttitor facilisis integer sed tristique scelerisque.</p>
                      </div>
                      <!--end entry-->
                      <!--Social network share icon-->
                      {% include social.html %}
                    </div>