        <div class="social-icons-footer">
          <a title="Twitter" href="https://www.twitter.com/droboshok" class="icons-unit"><span class="social-text" target="_blank" >Twitter</span></a>
          <a title="Instagram" href="https://instagram.com/droboshok" class="icons-unit"><span class="social-text" target="_blank" >Instagram</span></a>
          <a title="Facebook" href="https://www.facebook.com/droboshok" class="icons-unit"><span class="social-text" target="_blank" >Facebook</span></a>
          <a title="Github" href="https://github.com/droboshok/" class="icons-unit"><span class="social-text" target="_blank" >Github</span></a>
        </div>
        <div class="copyright">
          Copyright <a href="http://droboshok.in.ua">by</a>
        </div>